body{
    background-color:gray;
    text-align:center;
    color:white;
    border-style:dashed;

}
.wrapper{
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer"

}
div{
    grid-area: header;

}
header{
    grid-area: header;
    font-size:100%;
    border-radius: 50px;
    background-color: darkgray
    
    
}

nav{
    font-size:150%;
    
    


}
table, th, td{
    border:1px solid black;
    text-align:center;


}

td img{
    height: 8em;

}
nav{
    grid-area: nav;

}
nav > ul{
    display: grid;
    border:2px solid;
    text-align:center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "section";
    border-radius:15px;
    list-style-type:none;
    
    



}
main > ul{
    text-align:left;
    list-style-type:circle;


}
    









